.about-hero {
    padding: 20px 55px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.about-hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-hero p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #cbd5e1;
}