@import url(variables.css);

.features-landing {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 20px;
}

.all-features-card {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.feature-card {
    display: inline-flex; 
    flex-direction: column;
    border: var(--border);
    border-radius: 10px;
    padding: 24px;
    min-width: 220px;
    transition: border-color 0.3s ease;
    max-width: 400px;
    flex: 1;
}

.feature-card:hover {
    border-color: #4a90e2;
}

.feature-card h3 {
    color: #4a90e2;
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 18px;
  font-weight: 600;
}