@import url(variables.css);

.landing-hero {
    min-height: 450px;
    margin: 0 auto;
    padding: 45px ;
    gap: 25px;
    background-image: 
    linear-gradient(to bottom, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0) 55%),
    linear-gradient(to top, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0) 55%),
    linear-gradient(to right, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0) 55%),
    linear-gradient(to left, rgba(17, 24, 39, 1) 0%, rgba(17, 24, 39, 0) 65%),
    url('../assets/home-aranha.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20%;
    /* filter: saturate(80%); */
}


.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero-content p {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.8;
    max-width: 600px;
    color: #dac9c9ea;
    margin-bottom: 32px;
}


.content-title {
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 0 auto;
    gap: 5px;
}

.content-title h1 {
    font-size: 4.5rem;
    font-weight: 950;
    line-height: 1;
    margin-bottom: 5px;
}

.content-title img {
    height: 90px;
    width: auto;
    object-fit: contain;
    margin-top: 48px;
    filter: drop-shadow(0 0 12px rgba(56, 189, 248, 0.5));
}

.hero-display-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}



